/* App.js */
.Layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Set minimum height to 100% of the viewport height */
  width: 100%; /* Set width to 100% of the viewport width */
}

/* Slider component styles */
/* Add your Slider component styles here */

/* Additional styles for App.js */
body {
  margin: 0; /* Remove default margin */
  font-family: Arial, sans-serif; /* Set a default font family */
  background-color: #f0f0f0; /* Set a background color for the entire page */
}

/* Other styles you may want to add for consistency across pages */

/* Existing CSS from App.js */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  scroll-behavior: smooth; /* Enable smooth scrolling for the entire page */
}
