/* ContactForm.css */

.contact-container {
    display: flex;
    justify-content: space-between;
    padding: 20px; /* Add padding for spacing */
}

.contact-form-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
}

.contact-form-card {
    background-color: #ffffff;
    border-radius: 20px; /* Increase border radius for rounded corners */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Increase box shadow for depth */
    padding: 40px; /* Increase padding for larger card */
    width: 100%; /* Adjust width to fill the container */
    max-width: 600px; /* Set a max-width for better readability */
}

.form-group {
    margin-bottom: 1.5rem; /* Increase margin between form groups */
}

label {
    display: block;
    margin-bottom: 1rem;
}

input,
textarea {
    width: 100%;
    padding: 1rem; /* Increase padding for larger input fields */
    border: 1px solid #ccc;
    border-radius: 8px; /* Adjust border radius */
    font-size: 1.1rem; /* Increase font size */
}

button {
    padding: 0.7rem 1.5rem; /* Adjust padding for larger button */
    font-size: 1.1rem; /* Increase font size */
    cursor: pointer; /* Add pointer cursor */
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
}

.info-group {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem; /* Increase margin between info groups */
}

.info-group i {
    margin-right: 1rem; /* Increase margin between icon and text */
}

.social-icons {
    display: flex;
    flex-direction: column; /* Arrange social icons vertically */
}

.social-icon {
    margin-bottom: 1rem; /* Increase margin between social icons */
}

.button:hover {
    background-color: #c5d500;
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
    .contact-container {
        flex-direction: column; /* Change direction to column for smaller screens */
    }

    .contact-form-container {
        width: 100%;
        margin-left: 0; /* Remove left margin */
    }

    .contact-info {
        width: 100%; /* Set width to 100% */
        margin-top: 40px; /* Increase margin for spacing */
    }
}
